body {
    background-image: url("/assets/background.png");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding-top: 5vh;
    background-size: cover;
    background-position: center;
}

canvas {
    border: 10px solid #d55e27;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
