body {
    background-image: url("/assets/background.png");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.canvas-container {
    height: 85vh;
    padding-top: 5vh;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

canvas {
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
